body {
	padding: 0;
	margin: 0;
	background: rgb(0,222,255);
	background: linear-gradient(45deg, rgba(0,222,255,1) 0%, rgba(0,108,255,1) 100%);
	min-height: 100vh;
	font-family: 'Lato', sans-serif;
}

.header {
	padding: 4rem 0;
	h1,
	p {
		text-align: center;
		color: #fff;
		font-weight: 300;
	}
	h1 {
		margin: 0;
		font-size: 3.25rem;
		text-align: center;
		letter-spacing: .1rem;
	}
}

main {
	.ranking-container {
		margin: 0 auto;
		width: 55%;
		.ranking-block {
			background-color: #fff;
			padding: 2rem;
			border-radius: 10px;
			margin: 3rem 0;
			-webkit-box-shadow: 21px 40px 179px -61px rgba(0,0,0,0.95);
			-moz-box-shadow: 21px 40px 179px -61px rgba(0,0,0,0.95);
			box-shadow: 21px 40px 179px -61px rgba(0,0,0,0.95);
			&:first-child {
				margin-top: 0;
			}
		}
	}
}