<!DOCTYPE html>
<html>
	<head>
		<title>ANWLBA Rankings</title>
		<link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
		<link rel="stylesheet" href="/css/main.css">
	<body>
		<header class="header">
			<h1>American North West Lawn Bowling Rankings</h1>
			<p>This Is How We Roll</p>
		</header>
		<main>
			<div class="ranking-container">
				<div class="ranking-block">
					<h3>Placeholder</h3>
				</div>
				<div class="ranking-block">
					<h3>Placeholder</h3>
				</div>
				<div class="ranking-block">
					<h3>Placeholder</h3>
				</div>
			</div>
		</main>
	</body>
</html>