<!DOCTYPE html>
<html>
	<head>
		<title>ANWLBA Rankings</title>
		<meta charset="UTF-8">
		<meta name="description" content="Rankings more important than attending your family's Thanksgiving dinner">
		<meta name="author" content="Daniel Donnelly">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<header class="header">
			<h1>American North West Lawn Bowling Rankings</h1>
			<p>This Is How We Roll</p>
		</header>
		<main>
			<nav class="navbar">
				<ul>
					<li class="active">Current Rankings</li>
				</ul>
			</nav>
			<section class="ranking-container">
				<% for(let i=0; i < teams.length; i++) {%>
					<div class="team-block">
						<div class="ranking" style="background-color:<%= colors[i] %>;">
							<span><%= [i+1] %></span>
						</div> <!-- ranking-container -->
						<div class="team-details">
							<h3><%= teams[i].name %></h3>
							<p><%= teams[i].total_points %> points</p>
						</div> <!-- team-details -->
					</div> <!-- team-block -->
				<% } %>
			</section> <!-- ranking-container -->
		</main>
	</body>
</html>
